body {
  margin: 0;
  background: #222;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  background: #000;
  border: 4px solid #fff;
}
